// Navigation code here



.title {
    .flex(space-between, center);
    font-size: 5rem;
    margin-left: 100px;
  }
  nav {
      .flex(space-around, center);
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      width: 45%;
      margin: 0 auto;
      margin-top: 200px;
      margin-right: 100px;
      @media @phone {
          color: red;
      }
      
      a{
      text-decoration: none;
      color: black;
      font-size: 2rem;
 }
  }
